html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

.white {
  background-color: #fff;
}

legend {
  padding-right: 1em;
}

h1 {
  border-bottom-color: #000;
  border-style: solid;
  border-width: thin;
  border-top: none;
  border-left: none;
  border-right: none;
}

@media only screen and (min-width: 60em) {

  .padding-right {
    padding-right: .5em;
  }

  .padding-left {
    padding-left: .5em;
  }
}
